$colors: (
  "primary": red,
  "secondary": blue,
  "tertiary": purple,
  "warning": orange,
  "tip": lightblue,
  "error": red,
  "success": green,
  "brand": rebeccapurple,
);

$color-type: "rgba";
$color-text: true;
$color-props: true;

@import "../index.scss";

$shades: (0, 25, 50, 75, 100);

:root {
  @include get-lightmode($shades);
}
@media (prefers-color-scheme: dark) {
  :root {
    @include get-darkmode($shades);
  }
}
body[dark-mode] {
  @include get-darkmode($shades);
}
@media (prefers-color-scheme: light) {
  :root {
    @include get-lightmode($shades);
  }
}
body[dark-light] {
  @include get-lightmode($shades);
}
